@model FashionShopMVC.Models.DTO.UserDTO.GetUserDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Chỉnh sửa quản trị viên</h3>
    </div>

    <form asp-action="Edit" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="FullName" class="control-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" placeholder="Vui lòng nhập họ và tên" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Vui lòng nhập email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Vui lòng nhập số điện thoại" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label">Role</label>
                <input asp-for="Role" class="form-control" readonly />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                </label>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Lưu</button>
            <a asp-action="Index" class="btn btn-default float-right">Hủy</a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
