@model FashionShopMVC.Models.DTO.CategoriesDTO.CreateCategoryDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Thêm danh mục sản phẩm</h3>
    </div>

    <form asp-action="Create" novalidate>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" placeholder="Enter name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Thêm</button>
            <a asp-action="Index" class="btn btn-default float-right">Hủy</a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
