
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Dashboard</h1>


<script>

    console.log("Heelow Duy frome ADmin Home Index");

</script>

