@model FashionShopMVC.Areas.Admin.Models.RolesDTO.CreateRoleDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">Tạo Vai Trò</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Role" asp-area="Admin" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên vai trò</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Quay Trở Lại</a>
    </div>  
</div>
