@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb" style="background: white;">
        </ul>
        <div class="row login-page">
            <div class="col-sm-6" id="content">
                <div class="row">
                    <div class="well">
                        <h3>Đổi mật khẩu</h3>
                        @using (Html.BeginForm("Resetpassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label for="input-password" class="control-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="input-email" placeholder="Nhập mật khẩu" value="" name="password">
                            </div>
                            <div class="form-group">
                                <label for="input-password" class="control-label">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="input-password" placeholder="Nhập lại mật khẩu" value="" name="repassword">
                            </div>
                            <div class="form-group" style="text-align: end;">
                                <input type="submit" class="btn btn-primary" value="Xác nhận" style="width:100%;">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

